<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mankart.eshop.auth">

    <application
        android:theme="@style/Theme.Eshop">
        <activity
            android:name=".ui.AuthenticationHostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>